.container
  / YOUR CODE HERE
  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        %li.nav-header Shows
        %li
          %a{:href => "Juncture"} Juncture
        %li
          %a{:href => "BTV_News"} BTV News
        %li.active
          %a{:href => "Binghamton_Bro_Code"} Binghamton Bro Code
        %li
          %a{:href => "BTV_Mornings"} BTV Mornings
        %li
          %a{:href => "Cup_of_Joe"} Cup of Joe
        %li
          %a{:href => "Common_Occurances"} Common Occurances
        %li
          %a{:href => "Gametime!"} Gametime!
        %li
          %a{:href => "What_4"} What 4
        %li
          %a{:href => "Comics_Anonymous"} Comics Anonymous
        %li.nav-header
          
    .span9
      .contact-title-circle
      .row-fluid.text-center
        .page-header
          %h2.Juncture-title The Binghamton Bro Code- Member Production
        %div
          %p "The Binghamton Bro Code" is a prime example of BTV Member Productions. It is a sketch comedy show depicting the lives of the typical college "bro". The show also contains on-campus interviews where students offer their opinion about "bros" and recount stories of certain fraternal situations. For more information about "The Binghamton Bro Code", click on the picture below.
        %br
