.container
  / YOUR CODE HERE
  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        %li.nav-header Shows
        %li
          %a{:href => "Juncture"} Juncture
        %li
          %a{:href => "BTV_News"} BTV News
        %li
          %a{:href => "Binghamton_Bro_Code"} Binghamton Bro Code
        %li.active
          %a{:href => "BTV_Mornings"} BTV Mornings
        %li
          %a{:href => "Cup_of_Joe"} Cup of Joe
        %li
          %a{:href => "Common_Occurances"} Common Occurances
        %li
          %a{:href => "Gametime!"} Gametime!
        %li
          %a{:href => "What_4"} What 4
        %li
          %a{:href => "Comics_Anonymous"} Comics Anonymous
        %li.nav-header
          
    .span9
      .contact-title-circle
      .row-fluid.text-center
        .page-header
          %h2.Juncture-title BTV Mornings
        %div
          %p "BTV Mornings" is BTV's second news type program. Broadcasting everyday in the morning, "BTV Mornings" is the perfect way to catch up on top stories. This program covers all the top news from the campus and around the world in a condensed style. "BTV Mornings" also provides information about what is going around Binhamton today. For your morning fix on news, as well as reminders of important and interesting events, "BTV Mornings" is the show to watch. Monday thru Friday, BTV Mornings broadcasts from 9:00 A.M.-10:00 A.M. after launch. On Weekends, BTV Mornings broadcasts from 11:00 A.M.-12:00 P.M. after launch.
        %br
