.container
  / YOUR CODE HERE
  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        %li.nav-header Shows
        %li
          %a{:href => "Juncture"} Juncture
        %li
          %a{:href => "BTV_News"} BTV News
        %li
          %a{:href => "Binghamton_Bro_Code"} Binghamton Bro Code
        %li
          %a{:href => "BTV_Mornings"} BTV Mornings
        %li
          %a{:href => "Cup_of_Joe"} Cup of Joe
        %li
          %a{:href => "Common Occurances"} Common Occurances
        %li
          %a{:href => "Gametime!"} Gametime!
        %li
          %a{:href => "What_4"} What 4
        %li.active
          %a{:href => "Comics_Anonymous"} Comics Anonymous
        %li.nav-header
          
    .span9
      .contact-title-circle
      .row-fluid.text-center
        .page-header
          %h2.Juncture-title Comics Anonymous
        %div
          %p Comics Anonymous is a weekly comedy variety show on BTV. Every Wednesday night, several comics from Binghamton's campus come to the studio to act out some routines live. Comidians talk in a panel and invite a comic to do his own stand-up. At times, the show will go in to sketches and games a la "Whose Line Is It Anyway". Comics Anonymous is filmed in front of a live studio audience. Come down Wednesday at 8:00P.M. to be a part of it!
        %br

