.container
  / YOUR CODE HERE
  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        %li.nav-header Shows
        %li
          %a{:href => "Juncture"} Juncture
        %li
          %a{:href => "BTV_News"} BTV News
        %li
          %a{:href => "Binghamton_Bro_Code"} Binghamton Bro Code
        %li
          %a{:href => "BTV_Mornings"} BTV Mornings
        %li.active
          %a{:href => "Cup_of_Joe"} Cup of Joe
        %li
          %a{:href => "Common_Occurances"} Common Occurances
        %li
          %a{:href => "Gametime!"} Gametime!
        %li
          %a{:href => "What_4"} What 4
        %li
          %a{:href => "Comics_Anonymous"} Comics Anonymous
        %li.nav-header
          
    .span9
      .contact-title-circle
      .row-fluid.text-center
        .page-header
          %h2.Juncture-title Cup of Joe
        %div
          %p Cup of Joe is a daily talk show hosted by Binghamton senior Joe Torregrossa. Every weekday morning at 11:30 till noon, Joe and a guest of his choosing talk about random topics of the day. Joe reviews everything from sports to news to whatever happened on his walk down from Hillside! Though the show may seem confusing at times, you are guarenteed to have a good time. And if you watch the full episode, all will be explained.
        %br
