.container
  / YOUR CODE HERE
  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        %li.nav-header Shows
        %li
          %a{:href => "Juncture"} Juncture
        %li
          %a{:href => "BTV_News"} BTV News
        %li
          %a{:href => "Binghamton_Bro_Code"} Binghamton Bro Code
        %li
          %a{:href => "BTV_Mornings"} BTV Mornings
        %li
          %a{:href => "Cup_of_Joe"} Cup of Joe
        %li
          %a{:href => "Common_Occurances"} Common Occurances
        %li.active
          %a{:href => "Gametime!"} Gametime!
        %li
          %a{:href => "What_4"} What 4
        %li
          %a{:href => "Comics_Anonymous"} Comics Anonymous
        %li.nav-header
          
    .span9
      .contact-title-circle
      .row-fluid.text-center
        .page-header
          %h2.Gametime-title Gametime!
        %div
          %p Gametime! is BTV's first sports talk show after the launch. Gametime! is hosted by the executive board of the Sports Debate Club. Every Thursday, the members come together and talk about sports news that have happened in the recent days. The show includes a debate section as well as a lightning round! You can catch Gametime! this week. Check the calendar to stay posted.
        %br
