.container
  .hero-unit
    %h1 BTV
    %p Binghamton's number one station
    %p
      %a.btn.btn-primary.btn-large{:href => "about"} Learn more &raquo;
  .row-fluid
    .span4
      %h2 Join BTV
      %p Our studio is located in the basement of the Union Building directly Underneath the University Bookstore. 
      %p Feel free to email any of our Board members or contact us through Facebook
      %p
        %a.btn{:href => "board"} View details &raquo;
    #FeaturedShow.span8
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"}
    :javascript
      window.jQuery || document.write('<\/script>')
              // Get latest video from the "TheNewBTV6" channel
              var videoID;
              $.get('https://gdata.youtube.com/feeds/api/users/TheNewBTV6/uploads?max-results=1&orderby=published&v=2&alt=jsonc',
              //stolen from http://www.acuriousanimal.com/code/youtube_embed/index.html
              function(response) {
                  if(response.data && response.data.items) {
                      var items = response.data.items;
                      if(items.length>0) {
                          var item = items[0];
                          videoID = item.id;
                          console.log("Latest ID: '"+videoID+"'");
                }
            }
        });
                // Load the IFrame Player API code asynchronously.
                // Replace the 'FeaturedShow' element with an  iframe and
                // YouTube player after the API code downloads.
                var player;
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/player_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                //function called when the Yotube API has been loaded
                function onYouTubePlayerAPIReady() {
                  if(typeof videoID === 'undefined') {
                    //Would be nice to do this via delegation...
                    console.log("AJAX not back yet, waiting 800ms more");
                    window.setTimeout(function(){
                        if(typeof videoID === 'undefined') videoID = "_OAdP32FTLE"; createPlayer(); 
                    },800);
                  }
                  else
                    createPlayer();
                    
        }
                function createPlayer(){
                    player = new YT.Player('FeaturedShow', {
                      height: '390',
                      width: '640',
                      videoId: videoID,
                      enablejsapi: '1',
                      controls: '2',
                      hd: '1'
                    });
                }

