.container
  / YOUR CODE HERE
  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        %li.nav-header Shows
        %li.active
          %a{:href => "Juncture"} Juncture
        %li
          %a{:href => "BTV_News"} BTV News
        %li
          %a{:href => "Binghamton_Bro_Code"} Binghamton Bro Code
        %li
          %a{:href => "BTV_Mornings"} BTV Mornings
        %li
          %a{:href => "Cup_of_Joe"} Cup of Joe
        %li
          %a{:href => "Common_Occurances"} Common Occurances
        %li
          %a{:href => "Gametime!"} Gametime!
        %li
          %a{:href => "What_4"} What 4
        %li
          %a{:href => "Comics_Anonymous"} Comics Anonymous
        %li.nav-header
          
    .span9
      .contact-title-circle
      .row-fluid.text-center
        .page-header
          %h2.Juncture-title AM Film Productions: Juncture
        %div
          %p This is a 25-minute feature film produced by our BTV members. This is one of many feature films that will be produced by BTV. To the right is a trailer of said production. Rember to turn OFF the website music before watching the trailer! "Juncture" will be one of many productions to air on BTV, check the schedule for more information! To watch the film in full length, go to: www.AMFilmProductions.com
        %br
