.container
  / YOUR CODE HERE
  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        %li.nav-header Shows
        %li
          %a{:href => "Juncture"} Juncture
        %li
          %a{:href => "BTV_News"} BTV News
        %li
          %a{:href => "Binghamton_Bro_Code"} Binghamton Bro Code
        %li
          %a{:href => "BTV_Mornings"} BTV Mornings
        %li
          %a{:href => "Cup_of_Joe"} Cup of Joe
        %li
          %a{:href => "Common Occurances"} Common Occurances
        %li
          %a{:href => "Gametime!"} Gametime!
        %li
          %a{:href => "What_4"} What 4
        %li
          %a{:href => "Comics_Anonymous"} Comics Anonymous
        %li.nav-header
          
    .span9
      .contact-title-circle
      .row-fluid.text-center
        .page-header
          %h2.contact-title Shows
        %div
        %br
          %br
            .row-fluid
              %ul.thumbnails
                %li.span4
                  .thumbnail
                    %a{:href => "Juncture"}
                      .contact-image-box
                        %img.img-rounded.contact-image{:alt => "", :src => "http://i.imgur.com/qDyhq0O.jpg"}
                          %h4.contact-name
                            %span
                              Juncture
                %li.span4.text-center
                  .thumbnail
                    %a{:href => ""}
                      .contact-image-box
                        %img.img-rounded.contact-image{:alt => "", :src => "http://i.imgur.com/DUZYHQt.jpg"}
                          %h4.contact-name
                            %span
                              BTV News
                %li.span4.text-center
                  .thumbnail
                    %a{:href => "http://about.me/AlexKleiner"}
                      .contact-image-box
                        %img.img-rounded.contact-image{:alt => "", :src => "http://i.imgur.com/aXUmwgo.jpg"}
                          %h4.contact-name
                            %span
                              Binghamton Bro Code
                %li.span4.text-center
                  .thumbnail
                    %a{:href => "http://about.me/AlexKleiner"}
                      .contact-image-box
                        %img.img-rounded.contact-image{:alt => "", :src => "assets/Contact.jpg"}
                          %h4.contact-name
                            %span
                              BTV Mornings
                %li.span4.text-center
                  .thumbnail
                    %a{:href => "http://about.me/AlexKleiner"}
                      .contact-image-box
                        %img.img-rounded.contact-image{:alt => "", :src => "http://i.imgur.com/ychWarh.jpg"}
                          %h4.contact-name
                            %span
                              Cup of Joe
                %li.span4.text-center
                  .thumbnail
                    %a{:href => "http://about.me/AlexKleiner"}
                      .contact-image-box
                        %img.img-rounded.contact-image{:alt => "", :src => "assets/Contact.jpg"}
                          %h4.contact-name
                            %span
                              Common Occurances
                %li.span4.text-center
                  .thumbnail
                    %a{:href => "http://about.me/AlexKleiner"}
                      .contact-image-box
                        %img.img-rounded.contact-image{:alt => "", :src => "http://tinyurl.com/5r6a3jy"}
                          %h4.contact-name
                            %span
                              Gametime!
                %li.span4.text-center
                  .thumbnail
                    %a{:href => "http://about.me/AlexKleiner"}
                      .contact-image-box
                        %img.img-rounded.contact-image{:alt => "", :src => "http://tinyurl.com/5r6a3jy"}
                          %h4.contact-name
                            %span
                              What 4
                %li.span4.text-center
                  .thumbnail
                    %a{:href => "http://about.me/AlexKleiner"}
                      .contact-image-box
                        %img.img-rounded.contact-image{:alt => "", :src => "http://tinyurl.com/5r6a3jy"}
                          %h4.contact-name
                            %span
                              Comics Anonymous
                %li.span4.text-center
