.container
  / YOUR CODE HERE
  .row
    .span3
      %ul.nav.nav-tabs.nav-stacked
        %li.nav-header Shows
        %li
          %a{:href => "Juncture"} Juncture
        %li
          %a{:href => "BTV_News"} BTV News
        %li
          %a{:href => "Binghamton_Bro_Code"} Binghamton Bro Code
        %li
          %a{:href => "BTV_Mornings"} BTV Mornings
        %li
          %a{:href => "Cup_of_Joe"} Cup of Joe
        %li
          %a{:href => "Common_Occurances"} Common Occurances
        %li
          %a{:href => "Gametime!"} Gametime!
        %li.active
          %a{:href => "What_4"} What 4
        %li
          %a{:href => "Comics_Anonymous"} Comics Anonymous
        %li.nav-header
          
    .span9
      .contact-title-circle
      .row-fluid.text-center
        .page-header
          %h2.Juncture-title What 4
        %div
          %p The What 4 is a joke news show only on TheNewBTV. The What 4 takes after such shows as "The Onion" as the anchors report on only the most hard-hitting, head scratching stories going rampid around Binghamton. And the ridculousness doesn't end with the news, as a colourful cast of characters have decided to sponsor the show. Check out the What 4 only on TheNewBTV.
        %br
