.container
  .span10.offset1
    %h1.text-center
      Approved User Videos
    %table.table.table-hover
      %thead
        %tr
          %th Title
          %th Description
          %th URL
      %tbody
        %tr
          %td= link_to "Video 1", admin_video_path(0)
          %td This is the first video.
          %td= link_to "Here", "http://www.google.com"

    <br>
    = link_to "Back to Admin", admin_root_path
