.container
  %h3.text-center
    ADMIN PAGE
  .span3.offset1
    %h5 Dashboard
    %ul.nav.nav-tabs.nav-stacked
      %li= link_to "Users", admin_users_path
      %li= link_to "User Videos", admin_videos_path
      %li= link_to "Pending Videos", admin_pending_videos_path
