.container
  %h3.text-center
    ADMIN PAGE
  .span3.offset1
    %ul.nav.nav-tabs.nav-stacked
      %li= link_to "Show Users", :controller => "admin/content", :action => "show_users"
      %li= link_to "Show Requests", :controller => "admin/content", :action => "show_requests"
