

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.row-fluid {
*zoom: 1;

margin-top: 2em;
}


.hero-unit {
	background-image: url(../img/BTV.jpg);
	background-repeat: no-repeat;
	background-position: center; 
}

@media screen and (max-width:635px) {

	.hero-unit {
		background-image: none;
	}

}

@media screen and (max-width:988px) {

	.hero-unit {
		background-position: right center; 
	}

}













